{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{{ jeu.nom }}</h1>
                        <p class="card-text">{{ jeu.description }}</p>
                        <a href="{{ path('app_main') }}" class="btn btn-primary">Revenir à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
